@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

*{
    font-family: Geologica;
    margin: 0;
    
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding-bottom: 4em;
}

html {
  scroll-behavior: smooth;
                      
}

nav{
    background-color: #151E3F;
    display: block;
    position: relative;
    padding: 3em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
}

main{
    background: #151E3F;
background: linear-gradient(180deg, rgba(21, 30, 63, 1) 0%, rgba(28, 49, 120, 1) 100%);
  color: white;

}

.div1back{
  background: #151E3F;
  border-radius: 0.8em;
  padding: 2em;
  width: 100%;
  max-width: 15.5em;
  text-align: left;
  display: block;
  margin: 0 auto;
  transform: translateY(7em);
  padding-bottom: 4em;
  
  
}

.hero{
  position: absolute;
    top: 11.4em;
    left: 8em;
    width: 13em;
  
}
.section1home{
  padding-bottom: 10em;
}

.p1home{
  font-size: 0.8em;
  width: 100%;
  max-width: 9em;
  padding-top: 1em;
}

.p2home{
  width: 100%;
  max-width: 15em;
  text-align: center;
  display: flex;
 justify-content: center;
 margin: 0 auto;
 padding-bottom: 5em;
 padding-top: 5em;
 font-size: 1em;
 margin-top: -2em;
}

.button {
  text-decoration: none;
  padding-top: 1.1em;
  padding-right: 2em;
  padding-bottom: 1.1em;
  padding-left: 2em;
  background: #fa9489;
  display: block;
  width: fit-content;
  margin: 0 auto;
  border-radius: 0.8em;
  color: white;
  transition: transform 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  
}


.button:hover{
  transform: scale(1.08);
 
}


footer{
  position: fixed;
  bottom: 0;
  left: -1em;
  width: 100%;
  background-color: #151E3F;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em;
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.25);
  align-items: center;
}

footer a{
  transition: transform 0.2s ease;
  
}

footer a:hover{
  transition: all 0.2s ease ease-in;
  opacity: 60%;
  transform: scale(1.08);
}



 
.divbtn{
  padding-bottom: 5em;
}

.section1merch h1{
  text-align: center;
  padding-top: 1em;
  
}

.section1merch hr{
  width: 70%;
  margin: 2em auto;
  margin-bottom: -1em;
 
}

.back-btn{
  padding-top: 4em;
  padding-left: 2em;
  transition: transform 0.2s ease;
  height: 2em;
  height: 1.3em;
  margin-left: -0.6em;
  padding-bottom: 1em;
}

.back-btn:hover{
  transform: scale(1.08);
}

.section1merch h2{
  text-align: center;
  padding-top: 4em;
  padding-bottom: 1em;
  
}
.merchitems{
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  height: 100%;
  
}

.kader-merch{
  padding: 1em;
  background: #151E3F;
  max-width: 15em;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border-radius: 2em;
  height: 210px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  

}

.section1merch .button{
  margin-top: 2em;
}

.section1merch{
  padding-bottom: 5em;
}

#sticker{
  width: 150%;
  height:6em;
  padding-top: 3.5em;
}

.regenlaarzenp1{
  padding-top: 3em;
  width: 100%;
  max-width: 16em;
  text-align: center;
  display: flex;
  margin: 0 auto;
  font-size: 1.1em;
  padding-bottom: 2em;
}

.regenlaarzenp2{
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1.2em;
  padding-top: 1em;
  

}

.regenlaarzenp3{
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transform: translateX(-5.6em);
  padding-top: 2em;
  font-size: 1.2em;
}

.maten1{
  text-decoration: none;
  padding: em;
  color: #151E3F;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.6em;
  text-align: center;
  padding: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.maten2{
 text-decoration: none;
  color: #151E3F;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.6em;
  padding: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  
}

.maat-rij a:hover{
  transform: scale(1.08);
}

.maattabel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;

  padding-top: 2em;
  margin-bottom: 3em;
}

.maat-rij{
  display: flex;
  gap: 2em;
  transition: transform 0.2s ease;
  
}

.maat-rij a{
  background:white;
}

#maten2XL{
  transform: translateX(-6.5em);
}

#p3{
  padding-left: 5em;
  margin-bottom: -1em;
}


.checkoutdiv1{
  display: flex;
  justify-content: space-evenly;
  gap: 8em;
  padding-top: 2em;
  font-size: 0.7em;
}

.checkoutp1{
  padding-left: 1.5em;
  padding-bottom: 4em;
  
}

.checkoutimg1{
  width: 100%;
  max-width: 6em;
  transform: translateX(-1em);
}

.checkoutdiv2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  20px;
  border-radius: 12px;
  background: #151E3F;
  width: 100%;
  max-width: 17em;
  margin: 0 auto;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-info{
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1em;
  font-size: 0.55em;
  
}

.product-text h4{
  margin: 0;
  font-size: 1.3em;
  transform: translatex(-1.2em);
}

.product-info p{
  margin: 4px;
  opacity: 0.7;
  transform: translatex(-1.7em);
}

.product-size{
  flex: 0 0 80px;
  text-align: center;
  font-weight: 600;
  transform: translateX(-0.8em);
  font-size: 0.7em;
}

.size{
  min-width: 60px;
  text-align: center;
  
}

.quantity{
  display: flex;
  align-items: center;
  gap: 2px;
  transform: translateX(-1em);
}

.quantity button {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: none;
    background: #eee;
    cursor: pointer;
}

.quantity span {
    min-width: 20px;
    text-align: center;
}

.delete img {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.korting{
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  margin: 0 auto;
  padding-top: 1em;
  
}

.korting input{
  background-color: transparent;
  border: solid white 0.2em;
  color: white;
  caret-color: white;
  outline: none;
  border-radius: 0.4em;
  margin-left: 0.5em;
  max-width: 6em;
  

}

.korting a{
  text-decoration: none;
  color: #151E3F;
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.4em;
  margin-left: 1em;
}

.calenderimg{
  width: 100%;
  max-width: 40em;
  display: flex;
  margin: 0 auto;
  padding-top: 1em;
  
}

.planning{
  padding: 8em;
  background-color: #151E3F;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  
  
}

.line1{
  transform: translateY(-7em);
  max-width: 6em;
  margin: 0 auto;
  border-top: 3px solid white;
  border-radius: 1em;
}

.datum{
  transform: translateY(-4em);
  margin-left: -6em;
  margin-bottom: -2em;
  font-size: 0.9em;
}

.line2{
  width: 150%;
  margin-top: 0.2em;
}

.afspraken{
  margin-left: -6em;
  padding-top: 2em;
  font-size: 0.9em;
}

.afspraken .p2{
  margin-top: 2em;
}

